@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  margin: 0;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('./image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}